<div class="card mb-3">
    <div class="card-header text-white bg-secondary">
    Class <b>@Class.Name</b>
    <i class="bi-pencil" @onclick=@(() => classEditor.Show(Class))></i>
    <i class="bi-trash" @onclick=@(() => confirmDeleteClass.Show())></i>
  </div>
  <div class="card-body">
      <h5 class="card-title">Properties<button class="btn btn-link btn-sm" @onclick=@(() => propertyEditor.Show(new Property()))>Add Property</button></h5>
      <ul class="list-group list-group-flush">
          @foreach (var p in Class.Properties)
            {
                <li class="list-group-item">@p.ToString()</li>
            }
      </ul>

      <h5 class="card-title">Methods<button class="btn btn-link btn-sm" @*@onclick=@(() => promptClassName.Show())*@>Add Method</button></h5>
      <ul class="list-group list-group-flush">
        @foreach (var m in Class.Methods)
            {
                <li class="list-group-item">@m.Name</li>
            }
      </ul>

    </div>

</div>

<ClassEditor @ref=classEditor Project=Project OnOk=OnOkClassEditor></ClassEditor>
<PropertyEditor @ref=propertyEditor Project=Project OnOk=OnOkPropertyEditor></PropertyEditor>
<ConfirmModal @ref=confirmDeleteClass Title="Class" Body="Delete Class?" OnOk=OnOkDelete></ConfirmModal>
