<div class="card mb-3">
  <div class="card-header text-white bg-primary">
    Namespace <b>@Namespace.Name</b>
    <i class="bi-pencil" @onclick=@(() => promptNamespaceName.Show())></i>
    @*<i class="bi-gear" @onclick=@(() => generatorViewer.ShowForNamespace(Namespace))></i>*@
    <i class="bi-trash" @onclick=@(() => confirmDeleteNamespace.Show())></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Classes<button class="btn btn-link btn-sm" @onclick=@(() => classEditor.Show(new Class()))>Add Class</button>
    </h5>
    @foreach(var c in Namespace.Classes)
        {
            <ClassCard Project=Project Class=c OnDelete=OnDeleteClass></ClassCard>
        }

    <h5 class="card-title">Enumerations<button class="btn btn-link btn-sm" @onclick=@(() => enumerationEditor.Show(new Enumeration()))>Add Enumeration</button></h5>
    @foreach(var e in Namespace.Enumerations)
        {
            <EnumerationCard Project=Project Enumeration=e OnDelete=OnDeleteEnumeration></EnumerationCard>
        }

  </div>
</div>
<PromptModal @ref=promptNamespaceName Title="Namespace" Body="Type Namespace name" OnOk=OnOkNamespaceName></PromptModal>
<ClassEditor @ref=classEditor Project=Project OnOk=OnOkClassEditor></ClassEditor>
<EnumerationEditor @ref=enumerationEditor Project=Project OnOk=OnOkEnumerationEditor></EnumerationEditor>
<ConfirmModal @ref=confirmDeleteNamespace Title="Namespace" Body="Delete Namespace?" OnOk=OnOkDelete></ConfirmModal>

