@page "/"
@page "/projects"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime JS

<h3>Projects<button class="btn btn-link btn-sm" @onclick=@(() => navigationManager.NavigateTo("/project"))>New Project</button>
</h3>


@foreach (var project in projects)
{
    <div class="card mb-3">
        @*<img src="..." class="card-img-top" alt="...">*@
        <div class="card-body">
            <h5 class="card-title">@project.Name <i class="bi-trash text-danger" @onclick=@(() => confirmDeleteProject.Show("Project", "Delete Project?", "DELETE_PROJECT", project))></i></h5>
            <p class="card-text">@project.Description</p>
            <a href="/project/@project.Id" class="btn btn-link btn-sm">Go to Project</a>           
        </div>
    </div>
}


<ConfirmModal @ref=confirmDeleteProject OnOk=OnOkDeleteProject></ConfirmModal>


<button @onclick="DownloadFileFromStream">
    Download File From Stream
</button>